
<div class="content mt-5 ">
    <div class="col-md-12">
        <div class="card " >
            <div class="card-header 	text-danger " >
                <h5>DOKTOR EKLE</h5>

            </div>
            <div class="card-body">
                <form [formGroup] ="doctorAddForm">
                    <div class ="mb-3 	text-danger">
                        <label  for ="firstName">AD</label>
                        <div class="form-group">
                            <input type="text" id="firstName" formControlName="firstName" class="form-control"
                            placeholder="isminizi giriniz.." />

                        </div>

                    </div>
                    <div class ="mb-3 	text-danger">
                        <label  for ="lastName">SOYAD</label>
                        <div class="form-group">
                            <input type="text" id="lastName" formControlName="lastName" class="form-control"
                            placeholder="soyisim giriniz.." />

                        </div>

                    </div>

                    <div class ="mb-3 	text-danger">
                        <label  for ="tc">TC</label>
                        <div class="form-group">
                            <input type="text" id="tc" formControlName="tc" class="form-control"
                            placeholder="kimlik bilginizi giriniz.." />

                        </div>

                    </div>
                    <div class ="mb-3 	text-danger">
                        <label  for =" salary">MAAŞ</label>
                        <div class="form-group">
                            <input type="text" id="salary" formControlName="salary" class="form-control"
                            placeholder="maaş .." />

                        </div>

                    </div>

                </form>

            </div>
            <div class="card-footer">
                <button  class="btn btn-fill  btn-warning " (click) ="add()">Ekle</button>

            </div>


        </div>

    </div>

</div>

